<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.passwordmanager">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icons_password"
        android:label="Key Storee - Version 2.O"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ResetPasswordActivity"
            android:parentActivityName=".SettingsActivity"/>


        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop"/>


        <activity android:name=".CheckMasterPasswordActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".AddCredentials"
            android:parentActivityName=".MainActivity" />


        <activity android:name=".MainActivity"
            android:launchMode="singleTop"/>
    </application>

</manifest>